/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* top-banner carousel  */

.carousel-text {
    margin-bottom: 80px;
}

.carousel-img-overlay {

    filter: brightness(50%);
}